/* .App {
  text-align: center;
} */

.header{
  background-image: url('./images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg');
  width: 99%;
  height: 95vh;
  top: 500px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.yt{
  color: white;
}
.yell{
  color: gold;
}

.title{
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 4rem;
}
.call{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
}
.name{
  color: gold;
  font-size: 1.5rem;
  text-align: center;
}
.contlog{
  margin-top: 70px;
  text-align: center;

}
 .welcome{
   
   text-align: center;
   font-size: 2.2rem;
   font-weight: 800;
   color: red;

}
.plancont{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.plan{
  margin: 10px;
  border: none;
  height: 60vh;
  width: 28vw;
  -webkit-box-shadow: 12px -18px 5px 0px rgba(122,113,122,1);
  -moz-box-shadow: 12px -18px 5px 0px rgba(122,113,122,1);
  box-shadow: 12px -18px 5px 0px rgba(122,113,122,1);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-items: flex-end;
    flex-wrap: wrap;
}
.lab{
  color: crimson;
  margin-bottom: 100px;
}
.in{
  font-size: 2rem;
  font-weight: 500;
  color: crimson;
}
#planA{
  background-image: url('./images/gabe-pierce-zbF-lW3k1QU-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -8rem;
  background-position: center;
  

}
#PlanB{
  background-image: url('./images/karsten-winegeart-0Wra5YYVQJE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -11rem;
  

  
}
#PlanC{
  background-image: url('./images/clem-onojeghuo-n6gnCa77Urc-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 0;
}
.start{
 text-align: center;
 width: 80%;
 height: 40px;
 margin-left: auto;
 margin-right: auto;
}
.contwk{
  background-image: url('./images/zoltan-tasi-0khu-rgbjzo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}
.ctwk{
  text-align: center;
}
.wk{
  
  font-size: 2.2rem;
  color: rgb(245, 0, 0);
  font-weight: 800;
}

@media(max-width : 800px){
  .plancont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  .plan{
    margin: 10px;
    border: none;
    height: 75vh;
    width: 60vw;
    -webkit-box-shadow: 12px -18px 5px 0px rgba(122,113,122,1);
    -moz-box-shadow: 12px -18px 5px 0px rgba(122,113,122,1);
    box-shadow: 12px -18px 5px 0px rgba(122,113,122,1);
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  .in{
    width: 50%;
  }

  #PlanB{
    background-image: url('./images/karsten-winegeart-0Wra5YYVQJE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -3rem;
     
  }
  #PlanC{
    background-image: url('./images/clem-onojeghuo-n6gnCa77Urc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0rem;
    background-position-y: 0rem;
   
    
  }


}

@media(max-width : 300px){
  

  #PlanB{
    background-image: url('./images/karsten-winegeart-0Wra5YYVQJE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -15rem;
     
  }
 


}
